* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -10;
    background-color: #ccc;
} 
.mesa-contenedor{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 80px;
    align-items: center;
    gap: 2px;
}

#numeroMesa{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: medium;
    width: auto;
    height: 30px;
    background-color:burlywood;
    align-items: center;
    border: black 1px solid;
    border-radius: 2%;
}


#number, #actualizarNum{
    display: flex;
    height: 20px;
    align-items: center;
}
#alertNum{
    margin:0 0 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* .container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
      "navegador navegador opcionesMesa opcionesMesa"
      "mesas mesas opcionesMesa opcionesMesa"
      "mesas mesas opcionesMesa opcionesMesa"
      "mesas mesas opcionesMesa opcionesMesa"
      "infoMesa infoMesa infoMesa infoMesa"; 
      height: auto;
      gap: 1%;
  }

.navegador {
    grid-area: 1 / 1 / 2 / 3;
    background-color: aquamarine;  
    height: auto;
    border: black 1px sold;
}

.opcionesMesa {
    grid-area: 1 / 3 / 5 / 5; 
    background-color: rgb(159, 159, 77);
    height: 50vh;
    border: black 1px sold;
}

.mesas {
    grid-area: 2 / 1 / 5 / 3; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    background-color: blueviolet;
    border: black 1px solid;
} */

.mesa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: antiquewhite;
    border: black 1px solid;
    width: 100px;
    height: 100px;
    flex: 0 1 20%; /* Crece, encoge, base al 50% del ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el tamaño */
    margin: 10px;
}
/* 
.infoMesa {
    grid-area: 5 / 1 / 6 / 5;
    background-color: tomato;
    height: 100%;
    border: black 1px sold;
} */
.cartel-alert{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:4%;
    left:40%;
    background-color: gray;
    width: 55vh;
    height: 200px;
    gap: 10%;
    border: 1px solid black;
    border-radius: 2%;
}

#carritoAlert{
    visibility: hidden;
}
.cartel-button{
    width: 200px;
    height: 50px;
}
#menu{
    li{
        list-style-type: none;
        
        button{
            width: 300px;
            background-color: burlywood ;
        }
    }
}
.text-menu{
    font-size: large;
}
#submenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#contenedor{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50rem;
}

.itemBox{
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding-left: 10%;
    gap: 10px;
    border-radius: 2%;
    background-color: gray;
    border: 1px solid black;
    p{
        padding-left: 2%;
        display: flex;
        align-items: center;

    }
}

#mensaje, #inputMesa, #resultado {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}