* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: wrap column;
    z-index: -10;
    background-color: #686868;
}

.mesa-contenedor {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 2%;
    
}

#numeroMesa {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    width: 400px;
    height: auto;
    background-color: burlywood;
    align-items: center;
    border: black 1px solid;
    border-radius: 2%;
    
    
}

#entradaNum{
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
}


#actualizarNum {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 12px;
    font-size: 1.2rem;
    align-items: center;
}

#alertNum {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.mesa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: antiquewhite;
    border: black 1px solid;
    width: 100px;
    height: 100px;
    flex: 0 1 20%;
    box-sizing: border-box;
    margin: 10px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
}

ul {
    font-size: 15px;
}

li {
    margin: 5px 0;
}

.menuPrincipal{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #969696cc;
    padding: 5%;
    border: black 2.5px solid;
    width: 40vw;
}
.menu-contenedor {
    padding: 20px;
}



#menu {
    display: flex;
    flex-direction: column;
  
    
    li {
        list-style-type: none;

        button {
            width: 300px;
            background-color: burlywood;
        }
    }
}

.text-menu {
    font-size: large;
}

#submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(196, 196, 196, 0.39);
    width: 300px;
}

.carrito-final{
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 1rem;
    h3, p, li{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        margin-left: 20px;
       
    }
}


#contenedor {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.itemBox {
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding-left: 10%;
    gap: 10px;
    border-radius: 2%;
    background-color: gray;
    border: 1px solid black;

    p {
        padding-left: 2%;
        display: flex;
        align-items: center;

    }
}



